<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Prissdfscing</h1>
  <p class="lead">
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It’s built with default Bootstrap components and
    utilities with little customization.
  </p>
</div> -->
<div class="container" style="margin-top: 65px;">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Short Tours</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number of booking today</li>
        </ul>
        <h1 class="card-title pricing-card-title">
          {{ shortTours }}
        </h1>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Long Tours</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Number of booking today</li>
        </ul>
        <h1 class="card-title pricing-card-title">
          {{ longTours }}
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div>
    <h3>
      Number of booking today<span> {{ date }}</span> for short tours :<strong>
        12</strong
      >
    </h3>
  </div>
  <div>
    <h3>
      Number of booking today <span> {{ date }}</span> for long tours :<strong>
        12</strong
      >
    </h3>
  </div>
</div> -->
